<!DOCTYPE html>
<html lang="en" class="tas-com">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>ConorS Gapminder</title>

        <!--    reset browser default styling-->
        <link href="stylesheets/reset.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="topnav">
            <a href="/">Gapminder</a>
            <a href="/worldmap">World map</a>
            <a class="active" href="/about">About</a>
        </nav>
        <div class="center">
            <p>
                This is an old college project inspired by <a href="https://www.gapminder.org/">Gapminder!</a>
            </p>
            <p>
                The <a href="/">first visualization (gapminder)</a> is based off the original ted talk <a href="https://www.youtube.com/watch?v=hVimVzgtD6w">https://www.youtube.com/watch?v=hVimVzgtD6w</a>.
            </p>
            <p>
                The <a href="/worldmap">second visualization (worldmap)</a> is a derivation I came up with as part of the project.
            </p>
            <p>
                To see much better tools, go to the official gapminder tools <a href="https://www.gapminder.org/tools/#$chart-type=bubbles">https://www.gapminder.org/tools/#$chart-type=bubbles</a>
            </p>
        </div>
    </body>
</html>
