<!DOCTYPE html>
<html lang="en" class="tas-com">
    <head>
        <meta charset="utf-8">
        <!--    reset browser default styling-->
        <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/style.css">

        <script src="/vendor/d3/d3.min.js" type="text/javascript" ></script>
        <script src="/vendor/topojson.min.js" type="text/javascript" ></script>
        <script src="/vendor/datamaps.world.hires.min.js" type="text/javascript" ></script>

        <script src="/data/country_codes.js" type="text/javascript" ></script>
        <script src="/app/assets/javascripts/vis2.js" type="text/javascript" ></script>
    </head>
    <body>
        <title>ConorS Gapminder</title>
        <div id="barchart" class="center-vis" style="height:300px;"></div>
        <div id="map-container" class="center-vis"></div>
        <div class="controls center-vis"></div>
    </body>
</html>
